# OpenAI API Key
OPENAI_API_KEY=sk-your-api-key-here

# Database URL
DATABASE_URL=postgresql://user:password@localhost:5432/database_name?sslmode=require

# Ollama URL
OLLAMA_BASE_URL=http://localhost:11434/api/generate