# OpenAI API Key
OPENAI_API_KEY=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

# Database URL
DATABASE_URL=postgresql://user:password@localhost:5432/database_name?sslmode=require

# Ollama URL
OLLAMA_BASE_URL=http://localhost:11434/api/generate
